/* Variables */

:root {
    --basic-grey: #EBEBEB;
    --basic-white: #ffffff;
    --basic-dark: #000000;
    --basic-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-dark-brown: #503E33;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-very-light-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-dark-grey: #BDBBBC;
    --special: rgba(0, 0, 0, 0.3);
  }
/* Global */
.page {
  height: 100%;
}
.page-body {
    height: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--basic-white);
  }
  .wrapper {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: flex-start;
    box-shadow: 0 5px 15px rgba(0,1,1,0.2);
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /* Main navigation */
  .main-header {
    position: relative;
  }
  .main-navigation {
    padding: 0 10px;
  }
  .main-header-logo {
  z-index: 1;
  justify-self: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  }
  .main-navigation-list {
   width: 1060px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding: 0;
   list-style: none;
   text-align: left;
  }
  .main-nav-item {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .main-nav-item:nth-child(3) {
    padding-left: 278px;
  }
  .main-navigation-list a {
   font-size: 14px;
   font-weight: 700;
   line-height: 26px;
   color: var(--basic-dark);
   background-color: transparent;
   text-decoration: none;
  }
  .main-navigation-list a:hover {
    color: var(--basic-blue);
  }
  .main-navigation-list a:focus {
    color: var(--special);
  }
  .main-navigation-list a:active {
    color: var(--basic-light-brown);
  }
  .main-navigation-list .active-link {
    color: var(--basic-light-brown);
  }
  .bg-photo {
    position: relative;
    background-image: url("../img/bg-photo/background.jpg");
    background-color: var(--basic-blue);
    width: 1200px;
    min-height: 509px;
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  .bg-photo img {
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-top: 77px;
  }
  .bg-photo::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    bottom: 0px;
    background-image: url("../img/whiteshape.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  /*Features*/

  .container {
    width : 1200px;
    margin: 0 auto;
  }
  .features {
    text-align: center;
  }
  .features-lead {
    margin-top: 0px;
    padding: 42px 21px;
    font-size: 14px;
  }
  .features-intro {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 20px;
  }
  .features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .features-item:first-of-type,
  .features-item:nth-of-type(2) {
    grid-column: 1/-1;
  }
  .features-item:nth-of-type(2) img {
   order: -1;
  }
  .features-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;    
  }
  .features-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 256px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    margin-top: 31px;
  }
  .features-description {
    justify-self: center;
  }
  .promo-list {
    padding: 0;
    margin: 0;
    padding-top: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
  }
  .features-item-more {
    padding: 0px 23px;
    margin: 0;
    justify-self: center;
    background-color: var(--basic-very-light-grey);
  }
  .search-of-hotel {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 233px;
    text-align: center;
  }
  .search-title {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4px;
  }
  .search-of-hotel p {
    margin: 0 auto;
    text-align: center;
  }
  .button {
    display:block;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
  }
  .search-button1 {
    width: 568px;
    height: 86px;
    background-color: var(--basic-light-brown);
    border: none;
    justify-self: center;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .search-button1:hover {
    background-color: var(--basic-brown);
  }
  .search-button1:active {
    background-color: var(--basic-dark-brown);
  }
  .booking {
    display: block;
    width: 568px;
    height: 395px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    position: absolute;
    margin: 0 auto;
    margin-bottom:-395px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15); 
    right: 475px;
  }
  .booking-hotel {
    display: flex;
    flex-wrap: wrap;
    width: 458px;
    margin: 0 auto;
    padding-top: 55px;
  }
  .booking-fields-group {
    display: flex;
    justify-content: space-between;    
    height: 38px;
    margin: 0;
    position: relative;
    margin-bottom: 29px;
  }
  .check-out-date,
  .check-in-date {
    margin-bottom: 30px;
    width: 458px;
  }
  .booking-fields-group label {
    height: 26px;
    align-self: center;
  }
  .booking-fields-group input {
    margin-left: 10px;
    margin-right: 0;
  }
  .date-field {
    width: 364px;
    height: 38px;
    background-color: var(--basic-light-grey);
    border: none;
  }
  .quantity-of-persons {
    width: 114px;
    height: 38px;
    background-color: var(--basic-light-grey);
    border: none;
    text-align: center; 
  }
  .date-field input:hover {
    background-color: var(--basic-grey);
  }
  .date-field input:active {
    background-color: var(--basic-white);
  }
  .calendar {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 21px;
    height: 23px;
    background-color: transparent;
}
 .minus-adults {
  position: absolute;
  top: 8px;
  left: 105px;
  border: none;
}

.plus-adults {
  position: absolute;
  top: 12px;
  left: 180px;
  border: none;
}

.minus-kids {
  position: absolute;
  top: 8px;
  left: 60px;
  border: none;
}

.plus-kids {
  position: absolute;
  top: 12px;
  left: 135px;
  border: none;
}
  .search-button2 {
    display: inline-block;
    width: 458px;
    font-size: 21px;
    line-height: 27px;
    color: var(--basic-white);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border: none;
    margin: 0;
    padding: 16px 0;
    text-align: center;
  }
  .search-button2:hover {
    background-color: var(--basic-blue);
  }
  .search-button2:active {
    background-color: var(--basic-dark-blue);
  }
  /*Footer */

  .main-footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    padding: 23px 0;
    text-align: center;
  }
  .social-button-list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0;
   margin: 0 auto;
   align-items: center;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  .footer-links a {
    color: var(--basic-dark);
    text-decoration: none;
    text-align: center;
  }
  .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  /* Social button */

  .social-button-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .social-button-list li {
    margin: 0 3px;
  }
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    text-decoration: none;
  }
  .social-button:hover {
    background-color: var(--basic-blue);
  }
  .social-button:active {
    background-color: var(--basic-dark-blue);
  }
  .footer-copyright {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  .logo-htmlacademy {
    width: 215px;
    color: var(--basic-dark);
  }
  .logo-htmlacademy:hover {
   color: var(--basic-light-blue);
  }
  .logo-htmlacademy:active {
    color: var(--basic-dark-grey);
   }
  /*Catalog.html style*/

  .filter-hotel {
    min-height: 217px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    background-image: url("../img/background-catalog.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-filter-hotel {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 1200px;
   padding: 26px 0px 0px 0px;
  }
  .form-filter-hotel fieldset {
    border: none;
    padding: 0;
  }
  .form-filter-group1 {
   grid-column: 1/2;
   margin: 0px;
   padding: 24px 0px 32px 73px;
   border: 0px;
  }
  .form-filter-list {
   margin: 0px;
   padding: 0px;
   list-style: none;
  }
  .form-filter-group2 {
   grid-column: 2/3;
   margin: 0;
   padding: 24px 0px 32px;
   border: 0px;
   flex-wrap: wrap;
  }
  .form-filter-group3 {
    grid-column: 3/-1;
    text-align: right;
    position: relative;
    margin: 0px;
    padding: 0px 73px 32px 10px;
    border: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .form-title {
   margin: 0px;
   text-align: start;
  }
  .form-filter-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 25px;
    display: flex;
  }
  .form-filter-item label {
   position: relative;
   display: block;
  }
  .form-filter-item input[checkbox] {
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    display: none;
  }
  .form-filter input[range] {
    width: 316px;
    height: 2px;
  }
  .filter-price-container {
    width: 313px;
    height: 32px;
    margin: 10px 5px 0px 0px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    color: var(--basic-white);
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
  }
  .filter-range {
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  .show-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    background: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
  }
  .show-button:hover {
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }
  /*Pезультаты поиска*/
  .sorting {
   position: relative;
   height: 86px;
   padding: 0px 73px;
   background-color: var(--basic-white);
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
  }
  .found-hotels {
    font-size: 21px;
    font-weight: 700;
    order: -1;
    margin-right: 46px;
  }
  .sorted-hotels-list,
  .results-hotels-list {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  .sorted-hotels-list {
   margin-top: 30px;
   list-style: none;
   display: flex;
   justify-content: start;
   align-items: flex-end;
  }
  .sorted-hotels-list li {
    margin-right: 32px;
  }
  .sort-button {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--special);
    border: none;
    border-bottom: 1px dashed var(--basic-light-blue);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .sort-button:hover {
    color: var(--basic-light-blue);
  }
  .sort-button .sort-button:active {
    color: var(--basic-dark);
    border-color: transparent;
  }
  .sort-button-active {
    color: var(--basic-light-blue);
    border-color: transparent;
  }
  .results-hotels-list {
    list-style: none;
    padding: 0px;
  }
  .hotel-title {
    grid-column: 2/5;
    margin: 0 0 3px;
  }
  .hotel-title-link {
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-dark);
    grid-column: 2/5;
    grid-row: 1/2;
    width: 260px;
    margin: -6px 0px 0px;
    padding: 0px;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
  }
  .hotel {
   position: relative;
   padding: 30px 0px;
   margin: 0px;
   border-bottom: 1px var(--basic-dark-grey);
   display: grid;
   grid-gap: 6px;
   grid-template-columns: 164px 116px 142px 1fr max-content;
   grid-template-rows: max-content max-content max-content;
   padding: 30px 71px 25px 73px;
   border-bottom: 1px solid var(--basic-grey);
  }
  .hotel img {
   grid-column: 1/2;
   grid-row: 1/-1;
   margin: 0px;
   margin-right: 30px;
  }
  .hotel-type {
   grid-row: 2/3;
   grid-column: 2/3;
   padding: 0px;
   margin: 0;
   text-align: left;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   margin: 0;
  }
  .hotel .hotel-price {
   grid-row: 2/3;
   grid-column: 3/4;
   margin: 0;
   padding: 0;
   text-align: left;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
  }
  .hotel a:hover {
    color: var(--basic-light-blue);
  }
  .hotel a:focus {
    color: var(--special);
  }
  .hotel .hotel-details {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 110px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hotel .hotel-details:hover {
    color: var(--basic-white);
    background-color: var(--basic-blue);
  }
  .hotel .hotel-details:active {
    color: var(--basic-white);
    background-color: var(--basic-dark-blue);
  }
  .hotel .hotel-booking {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-brown);
    text-decoration: none;
    grid-column: 3/4;
    grid-row: 3/4;
    width: 142px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hotel .hotel-booking:hover {
    color: var(--basic-white);
    background-color: var(--basic-brown);
  }
  .hotel .hotel-booking:active {
    color: var(--basic-white);
    background-color: var(--basic-dark-brown);
  }
  .hotels-rate {
    color: #666666;
    background-color: var(--basic-light-grey);
    grid-column: -2/-1;
    grid-row: -2/-1;
    width: 110px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-stars {
    grid-column: -2/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
  }
  .icon-stars img {
    margin: 0;
  }



 




  
