/* Variables */

:root {
    --basic-grey: #EBEBEB;
    --basic-white: #ffffff;
    --basic-dark: #000000;
    --basic-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-dark-brown: #503E33;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-very-light-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-dark-grey: #BDBBBC;
    --special: rgba(#000000, 0.3);
  }
/* Global */

body {
    width: 1200px;
    margin: 0 auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--basic-white);
  }
  /* Main navigation */

  .main-navigation-list {
    list-style: none;
  }
  .main-navigation-list a {
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      color: var(--basic-dark);
      background-color: transparent;
      text-decoration: none;
  }
  .main-navigation-list a:hover {
    color: var(--basic-blue);
  }
  .main-navigation-list a:focus {
    color: var(--special);
  }
  .main-navigation-list a:active {
    color: var(--basic-light-brown);
  }
  .active-link {
    color: var(--basic-light-brown);
  }
  .bg-photo {
    background-image: url(../img/background.jpg);
    background-color: var(--basic-blue);
    min-height: 509px;
    background-repeat: no-repeat;
  }
  /*Features*/

  .features {
    text-align: center;
  }
  .features-list {
    list-style: none;
  }
  .features-intro {
    font-size: 21px;
    font-weight: 700;
  }
  .features-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;    
  }
  .features-content {
      background-color: var(--basic-blue);
      color: var(--basic-white);
  }
  .features-item-more {
      background-color: var(--basic-very-light-grey);
  }
  .search-of-hotel h3 {
      font-size: 30px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
  }
  .search-of-hotel p {
      text-align: center;
  }
  .button {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
  }
  .search-button1 {
    background-color: var(--basic-light-brown);
  }
  .search-button1:hover {
    background-color: var(--basic-brown);
  }
  .search-button1:active {
    background-color: var(--basic-dark-brown);
  }
  .booking-hotel {
    font: inherit;
    background-color: var(--basic-white);
  }
  .date-field input {
    background-color: var(--basic-light-grey);
  }
  .date-field input:hover {
    background-color: var(--basic-grey);
  }
  .date-field input:active {
    background-color: var(--basic-white);
  }
  .quantity-of-persons {
    background-color: var(--basic-light-grey);
    text-align: center; 
  }
  .search-button2 {
    background-color: var(--basic-light-blue);
  }
  .search-button2:hover {
    background-color: var(--basic-blue);
  }
  .search-button2:active {
    background-color: var(--basic-dark-blue);
  }
  /*Footer */

  .main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    text-align: center;
  }
  /* Social button */

  .social-button-list {
    list-style: none;
  }
  .social-button {
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    text-decoration: none;
  }
  .social-button:hover {
    background-color: var(--basic-blue);
  }
  .social-button:active {
    background-color: var(--basic-dark-blue);
  }
  .footer-copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  .logo-htmlacademy {
    color: var(--basic-dark);
  }
  .logo-htmlacademy:hover {
   color: var(--basic-light-blue);
  }
  .logo-htmlacademy:active {
    color: var(--basic-dark-grey);
   }
  /*Catalog.html style*/

  .filter-hotel {
    min-height: 217px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    background-image: url("../img/background-catalog.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-filter-list {
    list-style: none;
  }
  .form-filter-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
  }
  .form-filter-item input[checkbox] {
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
  }
  .form-filter input[range] {
    width: 316px;
    height: 2px;
  }
  .show-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--basic-white);
    background: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
  }
  .show-button:hover {
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }
  /*Pезультаты поиска*/

  .found-hotels {
    font-size: 21px;
    font-weight: 700;
  }
  .sorted-hotels-list,
  .results-hotels-list {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;
  }
  .sort-button {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--special);
    border: none;
    border-bottom: 1px dashed #81B3D2;
    background-color: transparent;
  }
  .sort-button:hover {
    color: var(--basic-light-blue);
  }
  .sort-button:active {
    color: var(--basic-dark);
    text-decoration: none;
  }
  .results-title-link {
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: var(--basic-dark);
  }
  .results-list-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .results-list-item a:hover {
    color: var(--basic-light-blue);
  }
  .results-list-item a:focus {
    color: var(--special);
  }
  .results-details {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
  }
  .results-details:hover {
    background-color: var(--basic-blue);
  }
  .results-details:focus {
    background-color: var(--basic-dark-blue);
  }
  .results-booking {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-brown);
  }
  .results-booking:hover {
    background-color: var(--basic-brown);
  }
  .results-booking:focus {
    background-color: var(--basic-dark-brown);
  }
  .rate-of-hotels {
    color: #666666;
    background-color: var(--basic-light-grey);
  }



 




  
