/* Variables */

:root {
    --basic-grey: #EBEBEB;
    --basic-white: #ffffff;
    --basic-dark: #000000;
    --basic-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-dark-brown: #503E33;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-very-light-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-dark-grey: #BDBBBC;
    --special: rgba(0, 0, 0, 0.3);
  }
/* Global */

.page-body {
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  .page {
    height: 100%;
  }
  /* Main navigation */
  .main-header {
    position: relative;
    margin-bottom: 56px;
  }
  .main-navigation {
    margin: 0 auto;
    padding: 0 10px;
  }
  .main-header-logo {
  order: 1;
  justify-self: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  }
  .main-navigation-list {
   width: 1060px;
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding-inline-start: 0;
   list-style: none;
  }
  .main-nav-item {
    width: 236px;
    height: 56px;
    text-align: left;
    padding-top: 14px;
    box-sizing: border-box;
  }
  .main-nav-item:nth-child(3), .main-nav-item:nth-child(4) {
    text-align: right;
  }
  .main-navigation-list a {
   font-size: 16px;
   font-weight: 700;
   line-height: 26px;
   color: var(--basic-dark);
   background-color: transparent;
   text-decoration: none;
  }
  .main-navigation-list a:hover {
    color: var(--basic-blue);
  }
  .main-navigation-list a:focus {
    color: var(--special);
  }
  .main-navigation-list a:active {
    color: var(--basic-light-brown);
  }
  .main-navigation-list .active-link {
    color: var(--basic-light-brown);
  }
  .bg-photo {
    background-image: url(../img/background.jpg);
    background-color: var(--basic-blue);
    min-height: 509px;
    background-repeat: no-repeat;
    margin-bottom: 56px;
  }
  /*Features*/

  .container {
    width : 1200px;
    margin: 0 auto;
  }
  .features {
    margin-bottom: 58px;
    text-align: center;
  }
  .features-lead {
    margin-bottom: 51px;
  }
  .features-intro {
    font-size: 21px;
    font-weight: 700;
  }
  .features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .features-item:first-of-type,
  .features-item:nth-of-type(2) {
    grid-column: 1/-1;
  }
  .features-item:nth-of-type(2) img {
   order: -1;
  }
  .features-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;    
  }
  .features-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 256px;
    margin-bottom: 60px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
  }
  .features-description {
    justify-self: center;
  }
  .promo-list {
    padding: 0;
    margin: 0;
    margin-bottom: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
  }
  .features-item-more {
    padding: 25px 23px;
    margin: 0;
    margin-bottom: 58px;
    justify-self: center;
    background-color: var(--basic-very-light-grey);
  }
  .search-of-hotel {
    position: relative;
  }
  .search-of-hotel h3 {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    justify-self: center;
  }
  .search-of-hotel p {
    text-align: center;
  }
  .button {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
  }
  .search-button1 {
    background-color: var(--basic-light-brown);
    width: 568px;
    height: 86px;
  }
  .search-button1:hover {
    background-color: var(--basic-brown);
  }
  .search-button1:active {
    background-color: var(--basic-dark-brown);
  }
  .booking-hotel {
    font: inherit;
    background-color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -284px;
    width: 568px;
    height: 395px;
    vertical-align: middle;
  }
  .booking-fields-group:nth-child(1), .booking-fields-group:nth-child(2) {
    grid-column: 1/-1;
  }
  .booking-fields-group {
    display: flex;
    text-align: left;
    align-items: center;
  }
  .booking-fields-group {
    display: flex;
    margin-bottom: 20px;
  }
  .booking-fields-group input {
    margin-left: 10px;
    margin-right: 0;
  }
  .date-field,
  .quantity-of-persons {
    width: 364px;
    height: 38px;
    background-color: var(--basic-light-grey);
  }
  .date-field input:hover {
    background-color: var(--basic-grey);
  }
  .date-field input:active {
    background-color: var(--basic-white);
  }
  .quantity-of-persons {
    text-align: center; 
  }
  .search-button2 {
    background-color: var(--basic-light-blue);
  }
  .search-button2:hover {
    background-color: var(--basic-blue);
  }
  .search-button2:active {
    background-color: var(--basic-dark-blue);
  }
  /*Footer */

  .main-footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    padding: 23px 0;
    text-align: center;
  }
  .social-button-list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0;
   margin: 0 auto;
   align-items: center;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  .footer-links a {
    color: var(--basic-dark);
    text-decoration: none;
    text-align: center;
  }
  .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  /* Social button */

  .social-button-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .social-button {
    width: 46px;
    height: 48px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    text-decoration: none;
  }
  .social-button:hover {
    background-color: var(--basic-blue);
  }
  .social-button:active {
    background-color: var(--basic-dark-blue);
  }
  .footer-copyright {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  .logo-htmlacademy {
    width: 215px;
    color: var(--basic-dark);
  }
  .logo-htmlacademy:hover {
   color: var(--basic-light-blue);
  }
  .logo-htmlacademy:active {
    color: var(--basic-dark-grey);
   }
  /*Catalog.html style*/

  .filter-hotel {
    min-height: 217px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    background-image: url("../img/background-catalog.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-filter-hotel {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 1200px;
  }
  .form-filter-hotel fieldset {
    border: none;
    padding: 0;
  }
  .form-filter-group1 {
   grid-column: 1/2;
   margin: 0px;
   padding: 24px 0px 32px 73px;
   border: 0px;
   display: flex;
   flex-wrap: wrap;
  }
  .form-filter-list {
   margin: 0px;
   padding: 0px;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
  }
  .form-filter-group2 {
   grid-column: 2/3;
   margin: 0px 0px 0px 119px;
   padding: 24px 0px 32px;
   border: 0px;
   display: flex;
   flex-wrap: wrap;
  }
  .form-filter-list .form-filter-group2 {
   width: 125px;
  }
  .form-filter-group3 {
    grid-column: 3/-1;
    text-align: right;
    position: relative;
    margin: 0px;
    padding: 0px 73px 32px 10px;
    border: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .form-title {
   margin: 0px;
   padding: 26px 0px 0px 0px;
   text-align: start;
  }
  .form-filter-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 25px;
  }
  .form-filter-item label {
   position: relative;
   display: block;
  }
  .form-filter-item input[checkbox] {
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    display: none;
  }
  .form-filter input[range] {
    width: 316px;
    height: 2px;
  }
  .filter-price-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 317px;
    height: 36px;
    align-items: center;
    margin-top: 10px;
  }
  .filter-range {
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  .show-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    background: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
  }
  .show-button:hover {
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }
  /*Pезультаты поиска*/
  .results-of-search {
   position: relative;
   height: 86px;
   padding: 0px 73px;
   background-color: var(--basic-white);
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
  }
  .found-hotels {
    font-size: 21px;
    font-weight: 700;
    order: -1;
    margin-right: 46px;
  }
  .sorted-hotels-list,
  .results-hotels-list {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  .sorted-hotels-list {
   margin-top: 30px;
   list-style: none;
   display: flex;
   justify-content: start;
   align-items: flex-end;
  }
  .sorted-hotels-list li {
    margin-right: 32px;
  }
  .sort-button {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--special);
    border: none;
    border-bottom: 1px dashed var(--basic-light-blue);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .sort-button:hover {
    color: var(--basic-light-blue);
  }
  .sort-button:active {
    color: var(--basic-dark);
    text-decoration: none;
  }
  .results-hotels-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 73px;
  }
  .results-title-link {
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-dark);
    grid-column: 2/5;
    grid-row: 1/2;
    width: 260px;
    margin: -6px 0px 0px;
    padding: 0px;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
  }
  .results-list-item {
    display: flex;
    padding: 30px 71px 25px 73px;
    border-bottom: 1px solid var(--basic-grey);
  }
  .hotel {
   position: relative;
   height: 91px;
   padding: 30px 0px;
   margin: 0px;
   border-bottom: 1px var(--basic-dark-grey);
   display: grid;
   grid-template-columns: 164px 116px 142px 522px 110px;
   grid-template-rows: 20px 43px 27px;
  }
  .hotel-first {
    grid-row: 1/2;
  }
  .hotel-second {
    grid-row: 2/3;
  }
  .hotel-third {
    grid-row: 3/4;
  }
  .hotel img {
   grid-column: 1/2;
   grid-row: 1/4;
   margin: 0px;
  }
  .results-list-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
  }
  .hotel-type {
   grid-row: 2/3;
   grid-column: 2/3;
   width: 110px;
   padding: 0px;
   margin: 6px 0px 0px;
   text-align: left;
   height: 21px;
   width: 96px;
  }
  .hotel .price {
   grid-row: 2/3;
   grid-column: 3/4;
   width: 110px;
   height: 43px;
   margin: 6px 0px 0px;
   padding: 0;
   text-align: left;
  }
  .results-list-item a:hover {
    color: var(--basic-light-blue);
  }
  .results-list-item a:focus {
    color: var(--special);
  }
  .results-list-item .results-details {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 110px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .results-list-item .results-details:hover {
    color: var(--basic-white);
    background-color: var(--basic-blue);
  }
  .results-list-item .results-details:active {
    color: var(--basic-white);
    background-color: var(--basic-dark-blue);
  }
  .results-list-item .results-booking {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-brown);
    text-decoration: none;
    grid-column: 3/4;
    grid-row: 3/4;
    width: 142px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .results-list-item .results-booking:hover {
    color: var(--basic-white);
    background-color: var(--basic-brown);
  }
  .results-list-item .results-booking:active {
    color: var(--basic-white);
    background-color: var(--basic-dark-brown);
  }
  .rate-of-hotels {
    color: #666666;
    background-color: var(--basic-light-grey);
    grid-column: -2/-1;
    grid-row: -2/-1;
    width: 110px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-stars {
    grid-column: -2/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
  }



 




  
