/* Variables */

:root {
    --basic-grey: #EBEBEB;
    --basic-white: #ffffff;
    --basic-dark: #000000;
    --basic-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-dark-brown: #503E33;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-very-light-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
  }
/* Global */

body {
    width: 1200px;
    margin: 0 auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--basic-white);
  }
  /* Main navigation */

  .main-navigation {
    list-style: none;
  }
  .main-navigation a {
      font-size: 16px;
      line-height: 26px;
      color: var(--basic-dark);
      background-color: transparent; 
  }
  .main-navigation a:hover {
    background-color: var(--basic-blue);
  }
  .main-navigation a:focus {
    background-color: var(--basic-dark);
  }
  .main-navigation a:active {
    background-color: var(--basic-light-brown);
  }
  .bg-photo {
    background-color: var(--basic-blue);
    min-height: 509px;
  }
  /*Features*/

  .features-list {
    list-style: none;
  }
  .features-intro {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
  }
  .features-lead {
    font-size: 14px;
    font-weight: 400;
  }
  .features-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;    
  }
  .features-content,
  .features-item {
    text-align: center;
  }
  .features-content {
      background-color: var(--basic-blue);
  }
  .features-item-more {
      background-color: var(--basic-very-light-grey);
  }
  .search-of-hotel h3 {
      font-size: 30px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
  }
  .search-of-hotel p {
      text-align: center;
  }
  .button {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
  }
  .search-button1 {
    background-color: var(--basic-light-brown);
  }
  .search-button1:hover {
    background-color: var(--basic-brown);
  }
  .search-button1:focus {
    background-color: var(--basic-dark-brown);
  }
  .booking-hotel {
    font: inherit;
    background-color: var(--basic-white);
  }
  .date-field input {
    background-color: var(--basic-light-grey);
  }
  .date-field input:hover {
    background-color: var(--basic-grey);
  }
  .date-field input:focus {
    background-color: var(--basic-white);
  }
  .quantity-of-persons {
    background-color: var(--basic-light-grey);
    text-align: center; 
  }
  .search-button2 {
    background-color: var(--basic-light-blue);
  }
  .search-button2:hover {
    background-color: var(--basic-blue);
  }
  .search-button2:active {
    background-color: var(--basic-dark-blue);
  }
  /*Footer */

  .main-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    text-align: center;
  }
  /* Social button */

  .social-button {
    background-color: var(--basic-light-blue);
  }
  .social-button:hover {
    background-color: var(--basic-blue);
  }
  .social-button:active {
    background-color: var(--basic-dark-blue);
  }
  .footer-copyright {
    font: inherit;
  }




  
