/* Variables */

:root {
    --basic-grey: #EBEBEB;
    --basic-white: #ffffff;
    --basic-dark: #000000;
    --basic-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-dark-brown: #503E33;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-very-light-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-dark-grey: #BDBBBC;
    --special: rgba(0, 0, 0, 0.3);
  }
/* Global */
.page {
  height: 100%;
}
.page-body {
    height: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--basic-white);
  }
  .wrapper {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: flex-start;
    box-shadow: 0 5px 15px rgba(0,1,1,0.2);
  }
  .main {
    width: 100%;
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
  .main-footer {
    grid-row: -2/-1;
    grid-column: 1/-1;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /* Main navigation */
  .main-header {
    position: relative;
  }
  .main-navigation {
    padding: 0 10px;
  }
  .main-header-logo {
  z-index: 1;
  justify-self: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  }
  .main-navigation-list {
   width: 1060px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding: 0;
   list-style: none;
   text-align: left;
  }
  .main-nav-item {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .main-nav-item:nth-child(3) {
    padding-left: 278px;
  }
  .main-navigation-list a {
   font-size: 14px;
   font-weight: 700;
   line-height: 26px;
   color: var(--basic-dark);
   background-color: transparent;
   text-decoration: none;
  }
  .main-navigation-list a:hover {
    color: var(--basic-blue);
  }
  .main-navigation-list a:focus {
    color: var(--special);
  }
  .main-navigation-list a:active {
    color: var(--basic-light-brown);
  }
  .main-navigation-list .active-link {
    color: var(--basic-light-brown);
  }
  .bg-photo {
    position: relative;
    background-image: url("../img/bg-photo/background.jpg");
    background-color: var(--basic-blue);
    width: 1200px;
    min-height: 509px;
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  .bg-photo img {
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-top: 77px;
  }
  .bg-photo::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    bottom: 0px;
    background-image: url("../img/whiteshape.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  /*Features*/

  .container {
    width : 1200px;
    margin: 0 auto;
  }
  .features {
    text-align: center;
  }
  .features-lead {
    padding: 42px 21px 53px;
    font-size: 14px;
  }
  .features-lead p {
    margin: 0px;
  }
  .features-lead p.features-intro {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 43px;
  }
  .features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .features-item:first-of-type,
  .features-item:nth-of-type(2) {
    grid-column: 1/-1;
  }
  .features-item:nth-of-type(2) img {
   order: -1;
  }
  .features-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
    padding: 0;    
  }
  .features-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 256px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
  }
  .features-description {
    margin: 0 auto;
    padding-top: 46px;
    justify-self: center;
  }
  .features-description p {
    padding-top: 9px;
  }
  .features-city,
  .features-bridge {
    line-height: 21px;
    padding-top: 5px;
  }
  .features-item-more {
    padding: 46px 47px;
    margin: 0;
    justify-self: center;
    background-color: var(--basic-very-light-grey);
  }
  .features-item-number {
    padding-top: 12px;
  }
  .features-item-opinion {
    line-height: 21px;
    padding-top: 6px;
  }
  .promo-list {
    padding: 0;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 68px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
  }
  .promo-item {
    text-align: center;
    margin: 0 auto;
    padding: 0 40px;
    line-height: 21px;
  }
  .promo-list .promo-title {
    font-size: 21px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 50px;
  }
  .house {
    position: relative;
  }
  .house::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 38%;
    width: 75px;
    height: 72px;
    background-image: url("../img/icons/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .food {
    position: relative;
  }
  .food::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 38%;
    width: 75px;
    height: 70px;
    background-image: url("../img/icons/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .souvenirs {
    position: relative;
  }
  .souvenirs::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 40%;
    width: 64px;
    height: 77px;
    background-image: url("../img/icons/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .search-of-hotel {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 233px;
    text-align: center;
    padding-top: 52px;
  }
  .search-title {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4px;
  }
  .search-request {
    padding: 30px 82px;
  }
  .search-of-hotel p {
    margin: 0 auto;
    text-align: center;
  }
  .button {
    display:block;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
  }
  .search-button1 {
    width: 568px;
    height: 86px;
    background-color: var(--basic-light-brown);
    border: none;
    justify-self: center;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .search-button1:hover {
    background-color: var(--basic-brown);
  }
  .search-button1:active {
    background-color: var(--basic-dark-brown);
    opacity: 30%;
  }
  .booking {
    display: block;
    width: 568px;
    height: 395px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    margin-bottom:-395px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15); 
    right: 475px;
  }
  .booking-hotel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 55px;
  }
  .booking-fields-group {
    display: flex;
    justify-content: space-between;    
    height: 38px;
    margin: 0;
    position: relative;
    margin-bottom: 29px;
  }
  .check-out-date,
  .check-in-date {
    grid-column: 1/-1;
    margin-bottom: 30px;
  }
  .booking-date {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    width: 121px;
    align-self: center;
    padding: 0px 20px;
  }
  .date-field {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    flex-grow: 1;
    height: 38px;
    background-color: var(--basic-light-grey);
    border: none;
    padding-left: 13px;
    opacity: 1;
  }
  .date-field input:hover {
    background-color: var(--basic-grey);
  }
  .date-field input:active {
    background-color: var(--basic-white);
  }
  .calendar {
    position: absolute;
    top: 7px;
    right: 16px;
    width: 21px;
    height: 23px;
    background-color: transparent;
    border: none;
  }
  .booking-quantity {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  .quantity-of-persons {
    width: 114px;
    height: 38px;
    margin: 0px;
    padding: 0px;
    background-color: var(--basic-light-grey);
    border: none;
    text-align: center;  
  }
  .button-plus,
  .button-min {
    width: 38px;
    height: 38px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: var(--basic-gray-very-light);
  }
 .minus-adults {
  position: absolute;
  top: 20px;
  left: 220px;
  border: none;
}
.plus-adults {
  position: absolute;
  top: 12px;
  left: 180px;
  border: none;
}
.minus-kids {
  position: absolute;
  top: 10px;
  left: 380px;
  border: none;
}
.plus-kids {
  position: absolute;
  top: 10px;
  left: 335px;
  border: none;
}
  .search-button2 {
    grid-column: 1/-1;
    width: 458px;
    font-size: 21px;
    line-height: 27px;
    color: var(--basic-white);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border: none;
    margin: 0 auto;
    padding: 16px 0;
    text-align: center;
  }
  .search-button2:hover {
    background-color: var(--basic-blue);
  }
  .search-button2:active {
    background-color: var(--basic-dark-blue);
    opacity: 30%;
  }
  /*Footer */

  .main-footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    padding: 12px 0;
    text-align: center;
  }
  .main-footer {
    background: rgba(255, 255, 255, 0.9);
    padding-top: 12px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 12px 73px;
  }
  .footer-links a,
  .footer-links:hover,
  .footer-links:active {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-decoration: none;
    margin-bottom: 9px;
   }
  /* Social button */
  .footer-socials {
    padding-top: 12px;
  }
  .social-button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    align-items: center;
    
   }
  .social-button-list li {
    margin: 0 3px;
  }
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    text-decoration: none;
  }
  .social-button:hover {
    background-color: var(--basic-blue);
  }
  .social-button:active {
    background-color: var(--basic-dark-blue);
  }
  .social-button:active img {
    opacity: 30%;
  }
  .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 6px;
    padding-right: 64px;
  }
  .footer-copyright span {
    width: 74px;
    height: 26px;
    line-height: 26px;
    margin-right: 15px;
  }
  .logo-htmlacademy {
    display: block;
    color: var(--basic-dark);
    margin-left: 16px;
    margin-top: 8px;
  }
  .logo-htmlacademy a:hover {
   color: var(--basic-light-blue);
  }
  .logo-htmlacademy a:active {
    color: var(--basic-dark-grey);
  }
  /*Catalog.html style*/

  .filter-hotel {
    min-height: 217px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    background-image: url("../img/background-catalog.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-filter-hotel {
   width: 1060px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 1200px;
   padding: 26px 0px 0px 0px;
   border: none;
  }
  .form-filter-hotel legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }
  .form-filter-list {
   margin: 0px;
   padding: 0px;
   list-style: none;
  }
  .form-filter-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 25px;
    display: flex;
  }
  .form-filter-item label {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 41px;
  }
  .filter-input-checkbox:hover + label,
  .filter-input-checkbox:focus + label {
    color: var(--basic-white);
 }
 .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/catalog/checkbox-off.svg");
    background-repeat: no-repeat;
 }
 .filter-input-checkbox:checked + label::before {
    width: 27px;
    height: 23px;
    background-image: url("../img/catalog/checkbox-on.svg");
    background-repeat: no-repeat; 
 }
  .form-filter-group1 {
    grid-column: 1/2;
    margin: 0px;
    padding: 24px 0px 0px 71px;
    border: 0px;
   }
  .form-filter-group2 {
   grid-column: 2/3;
   margin: 0px;
   padding: 24px 0px 0px 26px;
   border: 0px;
   flex-wrap: wrap;
  }
  .form-filter-group3 {
    grid-column: 3/-1;
    text-align: right;
    position: relative;
    margin: 0px;
    padding: 0px 71px 32px 10px;
    border: 0px;
    justify-self: flex-end;
    align-items: center;
  }
  .form-title {
   margin: 0px;
   text-align: start;
  }
  .form-title-price {
    text-align: left;
    margin-bottom: 11px;
  }
  .filter-price-container {
    display: flex;
    width: 317px;
    margin: 0;
    padding: 0;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    position: relative;
  }
  .filter-range {
    position: relative;
    max-width: 317px;
    margin: 0px;
    padding: 0px;
  }
  .filter-min-price,
  .filter-max-price {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .filter-price-container::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: var(--basic-white);
  }
  .filter-price-container input {
    height: 34px;
    margin: 0px;
    padding: 0px;
    color: var(--basic-white);
    background-color: transparent;
    list-style: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
  }
   #max-price {
    padding-right: 120px;
  } 
  .range-controls {
    position: relative;
    height: 33px;
    max-width: 317px;
    background-color: transparent;
    padding-top: 20px;
  }
  .range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }
  .range-controls .bar {
    width: 317px;
    height: 2px;
    background: var(--basic-white);
  }
  .range-controls .toggle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-dark-gray);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
    cursor: pointer;
  }
  .range-controls .toggle-max {
    left: 254px;
  }
  .range-controls .toggle-min {
    right: 96px;
  }
  .range-controls .toggle:hover {
    width: 5px;
    height: 4px;
    border: 9px solid var(--basic-white);
  }
  .show-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    background: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    margin: 0 auto;
  }
  .show-button:hover {
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }
  /*Pезультаты поиска*/

  .sorting {
   position: relative;
   padding: 29px 73px 31px;
   background-color: var(--basic-white);
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   border-bottom: 1px solid var(--basic-grey);
   margin: 0px;
   align-items: center;
  }
  .found-hotels {
    font-size: 21px;
    font-weight: 700;
    order: -1;
    margin: 0px;
  }
  .sorted-hotels {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0px;
    padding-left: 0px;
    margin-left: 45px;
  }
  .sorted-hotels-list,
  .results-hotels-list {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sorted-hotels-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
   padding-left: 20px;
   margin: 0 42px;
  }
  .sort-button {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-family: inherit;
    color: var(--special);
    border: none;
    border-bottom: 2px dotted var(--basic-light-blue);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-right: 33px;
    margin-left: -10px;
    padding: 0;
  }
  .sort-button:hover {
    color: var(--basic-light-blue);
  }
  .sort-button .sort-button:active {
    color: var(--basic-dark);
    border-color: transparent;
  }
  .sort-button-active {
    color: var(--basic-light-blue);
    border-color: transparent;
  }
  .sorting-arrows {
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-shrink: 0;
    padding-right: 5px;
  }
  .sort-button-arrow1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 10px 5.5px;
    border-color: transparent transparent #cacaca transparent;
  }
  .sort-button-arrow2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #81b3d2 transparent transparent transparent;
  }
   .sort-button-arrow1 {
    padding-right: 16px;
   }
   .sort-button-arrow1,
   .sort-button-arrow2 {
    margin: 0 auto;
    background-color: var(--basic-white);
    border: none;
  }
  .results-hotels-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .hotel-title {
    grid-column: 2/5;
    margin: 0 0 3px;
  }
  .hotel-title-link {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-dark);
    grid-column: 2/5;
    grid-row: 1/2;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
  }
  .hotel {
   position: relative;
   margin: 0px;
   border-bottom: 1px var(--basic-dark-grey);
   display: grid;
   grid-gap: 6px;
   grid-template-columns: 158px 110px 142px 1fr max-content;
   grid-template-rows: max-content max-content max-content;
   padding: 30px 72px 30px 73px;
   border-bottom: 1px solid var(--basic-grey);
  }
  .hotel img {
   grid-column: 1/2;
   grid-row: 1/-1;
   margin-right: 30px;
  }
  .hotel-type {
   grid-row: 2/3;
   grid-column: 2/3;
   padding: 0px;
   margin: 0px;
   text-align: left;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   margin: 0 0 9px;
  }
  .hotel .hotel-price {
   grid-row: 2/3;
   grid-column: 3/4;
   margin: 0px;
   padding: 0px;
   text-align: left;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   margin: 0 0 9px;
  }
  .hotel a:hover {
    color: var(--basic-light-blue);
  }
  .hotel a:focus {
    color: var(--special);
  }
  .hotel .hotel-details {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 110px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hotel .hotel-details:hover {
    color: var(--basic-white);
    background-color: var(--basic-blue);
  }
  .hotel .hotel-details:active {
    color: var(--basic-white);
    background-color: var(--basic-dark-blue);
  }
  .hotel .hotel-booking {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-light-brown);
    text-decoration: none;
    grid-column: 3/4;
    grid-row: 3/4;
    width: 142px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hotel .hotel-booking:hover {
    color: var(--basic-white);
    background-color: var(--basic-brown);
  }
  .hotel .hotel-booking:active {
    color: var(--basic-white);
    background-color: var(--basic-dark-brown);
  }
  .hotels-rate {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #666666;
    background-color: var(--basic-light-grey);
    grid-column: -2/-1;
    grid-row: -2/-1;
    width: 110px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .icon-stars {
    grid-column: -2/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
  }
  .icon-stars img {
    margin: 0px;
    margin-left: 5px;
    display: block;
    width: 18px;
  }
  }



 




  
